<h1>Homeowners</h1>

<p><%= link_to 'Add a New Homeowner', new_homeowner_url %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @homeowners.each do |homeowner| %>
    <tr>
      <td><%= homeowner.name %></td>
      <td><%= homeowner.email %></td>
      <td><%= homeowner.phone %></td>
      <td><%= homeowner.address %></td>
  
      <td><%= link_to 'Show', homeowner_url(homeowner) %></td>
      <td><%= link_to 'Edit', edit_homeowner_url(homeowner) %></td>
      <td><%= link_to 'Destroy', homeowner_url(homeowner), method: 'delete', data: { confirm: "Do you really want to delete this homeowner?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

