<h1>Homeowner #<%= @homeowner.id %></h1>

<p>
  <b>Name:</b>
  <%= @homeowner.name %>
</p>

<p>
  <b>Email:</b>
  <%= @homeowner.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @homeowner.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @homeowner.address %>
</p>


