<h1>Job #<%= @job.id %></h1>

<p>
  <b>Category:</b>
  <%= @job.category_id %>
</p>

<p>
  <b>Homeowner:</b>
  <%= @job.homeowner_id %>
</p>

<p>
  <b>Contractor:</b>
  <%= @job.contractor_id %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>Appointment date:</b>
  <%= @job.appointment_date %>
</p>

<p>
  <b>Status:</b>
  <%= @job.status %>
</p>

<p>
  <b>Address:</b>
  <%= @job.address %>
</p>


