<h1>New Contractor</h1>


<%= form_tag(contractors_url, method: 'post') do %>


  <div>
    <%= label_tag :category_id %><br />
    <%= number_field_tag :category_id %>
  </div>

    <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

    <div>
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>

    <div>
    <%= label_tag :phone %><br />
    <%= text_field_tag :phone %>
  </div>

    <div>
    <%= label_tag :address %><br />
    <%= text_field_tag :address %>
  </div>

  
  <div>
    <%= submit_tag "Create Contractor" %>
  </div>
<% end %>
